{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^vue$",
    "^@?\\w",
    "^@/components/(.*)$",
    "^@/composables/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "vueSortAttributes": true,
  "vueAttributeSortOrder": [
    "DEFINITION",
    "LIST_RENDERING",
    "CONDITIONALS",
    "RENDER_MODIFIERS",
    "GLOBAL",
    "UNIQUE",
    "TWO_WAY_BINDING",
    "OTHER_DIRECTIVES",
    "OTHER_ATTR",
    "EVENTS",
    "CONTENT"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-vue"]
}
