.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1111112b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  min-width: 300px;
  background-color: white;
  min-height: 200px;
  border-radius: 5px;
  border: 2px solid gray;
  box-shadow: 0 5px 10px #1111117f;
  padding: 10px;

  &__head {
    position: relative;
    margin-bottom: 5px;
  }

  &__title {
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }
}
